* {
  margin: 0;
  padding: 0; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: lightgreen;
  font-family: 'Fira Sans', sans-serif;
  background-image: linear-gradient(-45deg, rgba(252, 255, 244, 0.3), rgba(233, 233, 206, 0.2)), url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: green; }

.gameField {
  min-height: 85vh;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: 5%; }

div.header {
  font-size: 1.5em;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: green;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.check_rules {
  width: 150px;
  height: 25px;
  background-color: rgba(188, 255, 188, 0.8);
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  border-radius: 5px;
  font-size: 1rem;
  z-index: 9;
  left: -10px;
  top: 2%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 20px;
  color: green;
  cursor: pointer; }

.check_rules:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.check_rules p {
  display: block;
  margin: 0; }

.game_panel {
  width: 30%;
  margin-right: 20px;
  background-color: rgba(188, 255, 188, 0.5);
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  border-radius: 5px; }

.game__panel_turn_indicator {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 25%;
  padding: 30px 30px 10px 30px;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px; }

#whoseTurn {
  color: blue;
  font-weight: 700; }

.game__panel_roll_btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.roll {
  cursor: pointer;
  background-color: blue;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  border: none;
  height: 80%;
  width: 80%;
  color: white;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 1.3em;
  border-radius: 50px;
  font-family: 'Fira Sans', sans-serif; }

p {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 7px 0; }

.game__panel_next_player {
  height: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5%; }

.next_player_btn {
  height: 60%;
  width: 70%;
  padding: 5px;
  color: white;
  background-color: deeppink;
  border: none;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer; }

.game__dice_container {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dice {
  height: 60px;
  width: 60px;
  background-color: white;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  margin: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px; }

.game__panel_information_after_roll_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 25%;
  padding: 0 30px 0 30px;
  font-size: 1em;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

#game__panel_pieces_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5%; }

.firstPlayer {
  background-color: blue;
  color: white;
  height: 20px;
  width: 20px;
  margin-right: 3px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  z-index: 9;
  display: block; }

.secondPlayer {
  background-color: deeppink;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  z-index: 9;
  display: block; }

.game_board {
  width: 70%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(188, 255, 188, 0.5);
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  border-radius: 5px; }

.game_board__board_field {
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2); }

.game_board__board_fields_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.game_board__board_field {
  width: 480px;
  height: 480px;
  background-image: url("/images/snakesandladdersboard.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.boardRow {
  height: 10%;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.odd {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.even {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.cell {
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.welcome_popup {
  background-color: rgba(221, 255, 204, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.welcome_popup__content {
  height: 95vh;
  width: 65%;
  background-color: #e6ffe6;
  border: 1px solid lightgreen;
  border-radius: 5px;
  z-index: 9999;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2); }

#snake2_image {
  height: 50%;
  width: 60%;
  background-image: url("../images/snake_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 50px 20px 0 20px; }

.welcome_information_container {
  width: 60%;
  color: yellowgreen;
  text-align: center;
  padding: 65px 20px 56px 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.welcome_right_panel {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.welcome_information_container h {
  font-size: 40px;
  display: block; }

.welcome_information_container h1 {
  font-size: 2em;
  display: block;
  font-weight: lighter;
  color: green; }

.welcome_information_container h2 {
  font-size: 1em;
  display: block;
  font-weight: lighter;
  text-align: left; }

.welcome_information_container ol {
  text-align: left;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8em; }

.welcome_information_container p {
  font-size: 0.7em;
  text-align: left; }

.welcome_information_container p span {
  color: green; }

.players_info {
  visibility: hidden; }

.input {
  height: 80vh;
  width: 50%;
  background-color: #e6ffe6;
  border: 1px solid lightgreen;
  border-radius: 5px;
  z-index: 9999;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 5vh;
  -webkit-transition-duration: 1s;
          transition-duration: 1s; }

.input p {
  font-size: 1.1em;
  font-weight: bold; }

.input h {
  font-size: 2em;
  font-weight: bold; }

input {
  height: 20px;
  width: 100px;
  font-size: 16px; }

input:focus {
  outline: 1px solid yellowgreen; }

.error {
  color: red;
  height: 16px;
  font-size: 10px;
  font-family: 'Fira Sans', sans-serif; }

.green_btn {
  background-color: green;
  color: white;
  font-size: 0.9em;
  padding: 15px;
  font-family: 'Fira Sans', sans-serif;
  width: 80%;
  border: none;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  margin-top: 15px;
  border-radius: 50px;
  cursor: pointer; }

.green_btn:hover {
  background-color: greenyellow;
  color: black; }

button:active {
  outline: none; }

button {
  outline: none; }

.rules {
  height: 65vh;
  width: 60%;
  background-color: #e6ffe6;
  border: 1px solid lightgreen;
  border-radius: 5px;
  z-index: 9999;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -70vh;
  -webkit-transition-duration: 1s;
          transition-duration: 1s; }

.rules h1 {
  margin-bottom: 20px; }

.close_cross {
  position: absolute;
  font-size: 70px;
  right: 30px;
  top: -10px;
  cursor: pointer; }

.close_cross:hover {
  color: greenyellow; }

div#won {
  display: none; }

.winner_popup {
  background-color: rgba(221, 255, 204, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.winner_popup__content {
  height: 80vh;
  width: 60%;
  background-color: #e6ffe6;
  color: red;
  border: 1px solid lightgreen;
  border-radius: 10px;
  z-index: 9999;
  position: fixed;
  top: 5%;
  left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 26px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
          box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2); }

.winner_right_panel_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%; }

#snake_image {
  height: 50%;
  width: 50%;
  background-image: url("../images/snake.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 40px; }

.information_container {
  width: 60%;
  color: yellowgreen;
  text-align: center;
  padding: 50px 10px 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.information_container h {
  font-size: 40px;
  display: block; }

.information_container p {
  font-size: 0.7em;
  display: block;
  color: green;
  margin-top: 100px; }

/*# sourceMappingURL=main.css.map */
